<div class="container">
  <div class="row">
    <div class="btn-group">
      <label class="btn diff-{{d}}" *ngFor="let d of diffculties">
        <input type="checkbox" [(ngModel)]="diffObj[d]" data-toggle="button"> 
        {{d}}
      </label>
    </div>
  </div>
  <hr>
  <div class="row list-group">
    <a class="list-group-item" *ngFor="let problem of problems | difficultyFilter:diffFilter" >
      <a routerLink="/problems/{{problem.id}}">
        <span class="pull-left label difficulty diff-{{problem.difficulty}}">
          {{problem.difficulty}}
        </span>
        <strong class="title">{{problem.id}}. {{problem.name}}</strong>
      </a>
      <button type="button" class="pull-right" (click)="deleteProblem(problem.id)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </a>
  </div>
</div>
