/* You can add global styles to this file, and also import other style files */
.user-1 {
    background-color: rgb(11, 240, 209) !important;
}

.user-2 {
    background-color: rgb(240, 11, 229) !important
}

.user-3 {
    background-color: rgb(11, 240, 42) !important
}

.user-4 {
    background-color: rgb(240, 11, 11) !important
}

.user-5 {
    background-color: rgb(240, 206, 11) !important
}

.user-6 {
    background-color: rgb(34, 11, 240) !important
}

.edit-marker {
    position: absolute;
    z-index: 2;
}