<div>
    <strong> Active Users: </strong>
    <ul id="active-users">
        <li *ngFor="let user of activeUsers"> 
            <span class="square user-{{user}}"></span>
            #{{user}} 
        </li>
    </ul>
</div>

<div>
    <form>
        <label for='lang'> Select your language: </label>
        <select [(ngModel)]="lang" name='lang'>
            <option *ngFor="let lang of languages"> {{lang}} </option>
        </select>
        <button type="button" class="pull-right btn btn-primary" (click)="reset()">
            Reset
        </button>
    </form>
</div>

<div id="editor"></div>

<div>
    <button type="button" class="btn btn-success" (click)="submit()" 
            [disabled]="activeUsers == null || activeUsers.length == 0"> 
        Submit
    </button>
</div>

<div id="exec-result" class="well" *ngIf="result"> 
    {{ obj2string(result) }}
</div>
<div id="error-message" class="alert alert-danger" *ngIf="errorMessage"> 
    {{ errorMessage }} 
</div>