<nav class="navbar navbar-inverse" id="navbar">
  <a class="navbar-brand" routerLink="/problems"> My OJ </a>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/problems"> Problems </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-problem"> Add Problems </a>
      </li>
    </ul>
    <form class="form-inline">
        <input class="form-control" type="search" placeholder="search your problem">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
</nav>